:root {
    --darkest: black;
    --dark: #444444;
    --grey: #b5b5b5;
    --pink: #ec4899;
    --light: #f5f5f5;
    --lighter: #f7f7f7;
    --lightest: white;
    --light-red: #ffdada;
    --dark-red: #5b0000;
    font-family: "Manrope", Arial, Helvetica, sans-serif;
    background-color: var(--light);
}

h2 {
    font-size: 20px;
    font-weight: 500;
    color: var(--grey);
}

#logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    margin-bottom: 24px;
}

header {
    max-width: 800px;
    margin: 12px auto;
}

main {
    max-width: 800px;
    margin: 12px auto;
}

#new-task-form {
    display: flex;
    justify-content: space-between;
    background-color: var(--lightest);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 82, 0.3);
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input {
    padding: 14px;
    font-weight: 300;
    width: 100%;
}

#new-task-input::placeholder {
    color: var(--grey);
}

#new-task-input:-webkit-autofill {
    -webkit-background-clip: text;
    background-clip: text;
}

#new-task-submit {
    padding: 0 14px;
    border-left: 1px solid var(--light);
    border-radius: 0 10px 10px 0;
    font-weight: 800;
    cursor: pointer;
    transition: 150ms; /* 0.2s in lecture */
}

#new-task-submit:hover {
    background-color: var(--pink); /* grey in lecture */
    color: var(--light);
    /* in lecture we added border-radius here */
}

#tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--lightest);
    padding: 12px;
    border-radius: 10px;
}

.text {
    width: 100%;
    margin-right: 10px;
}

.text:not(:read-only) {
    color: var(--pink);
}

.task-actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.task-actions button {
    padding: 6px 8px;
    background-color: var(--lighter);
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s;
}

.task-actions button:hover {
    background-color: var(--dark);
    color: var(--lightest);
}

.task-actions .delete {
    background-color: var(--light-red);
    color: var(--dark-red);
}

.task-actions .delete:hover {
    background-color: var(--dark-red);
    counter-reset: var(--light-red);
}